body {
    background: #14171A;
    font-family: 'Roboto', sans-serif;
}

.news {
    max-width: 598px;
    border: 1px solid #71767B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news__title-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start; 
    flex-direction: column;
    padding: 20px 0 0 20px;   
    border-bottom: 1px solid #71767B;        
}
.news__main-title {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    padding-bottom: 36px;
}

.news__articles-switchers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.news__main-articles,
.news__following-articles {
    cursor: pointer;
    color: #657786;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    padding: 16px 0 16px;
}

.articles-active {
    color: #fff;
    border-bottom: 4px solid #1DA1F2;
    border-radius: 3px;
}

.news__add-post {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 0 20px;   
    border-bottom: 1px solid #71767B;  
}

.news__post-profile-image,
.news__form-profile-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.news__posts {
    box-sizing: border-box;
    padding: 12px 16px;
}

.news__posts-article {
    display: grid;
    grid-template-areas: 
    "image post"
    ;
    grid-gap: 12px;
    max-width: 80%;
    border-bottom: 1px solid #71767B; 

    
}

.news__post-profile-image {
    grid-area: image;
}

.news__flex-container {
    grid-area: post;
}

.news__flex-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.news__post-fullname {
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

.news__post-fullname span {
    color: #657786;
    font-weight: 300;
}

.news__content-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 8px;
}

.news__delete-post-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.news__post-title,
.news__post-content {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}   

.news__post-user-email {
    color: #657786;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
}
